<!DOCTYPE html>
<html>
<head>
  <title style="text-align: center;">Rental Agreement Template</title>
</head>
<body>
  <h1 style="text-align: center">Rental Agreement Template</h1>
  
  <div class="rental-agreement-body">
<p style="text-align: center;">This rental agreement is made on {{today_date}} between {{lessor}}, hereinafter referred to as "Landlord", and {{lesse}}, hereinafter referred to as "Tenant".</p>
<p style="text-align: center;">Landlord agrees to rent to Tenant, and Tenant agrees to rent from Landlord, the premises located at {{adress}}, hereinafter referred to as the "Premises".</p>
<p style="text-align: center;">The term of this lease shall be for {{duration}} months, commencing on {{from_date}} and ending on {{end_date}}.</p>
<p style="text-align: center;">Tenant agrees to pay to Landlord a monthly rent of Rupees {{rent}}, due and payable on the first day of each month.</p>
<p style="text-align: center;">Tenant is responsible for all utilities and services used in connection with the Premises.</p>
<p style="text-align: center;">Tenant is responsible for maintaining the Premises in good and clean condition.</p>
<p style="text-align: center;">Tenant is not permitted to sublet or assign this lease without the prior written consent of Landlord.</p>
<p style="text-align: center;">Landlord and Tenant agree to abide by all applicable laws and ordinances.</p>
<p style="text-align: center;">Upon termination of this lease, Tenant shall vacate the Premises and leave it in good and clean condition.</p>
<p style="text-align: center;">This lease constitutes the entire agreement between the parties and supersedes all prior agreements, representations, and understandings between the parties, whether written or oral.</p>
<p style="text-align: center;">In the event of any dispute arising out of this lease, the parties agree to submit the dispute to binding arbitration in accordance with the rules of the American Arbitration Association.</p>
<p style="text-align: center;">This lease shall be governed by and construed in accordance with the laws of the State of Calafornia.</p>
<p style="text-align: center;">IN WITNESS WHEREOF, the parties have executed this lease on the date first written above.</p>
  </div>
  <div class="rental-agreement-signatures">
    <p class="rental-agreement-signature">____________</p>
    <p class="rental-agreement-signature">Landlord</p>

    <p class="rental-agreement-signature">____________</p>
    <p class="rental-agreement-signature">Tenant</p>
  </div>
</body>
</html>